@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body{
	margin: 0;
	font-family: roboto;
}

.cmclui-container{
	width: calc(100% - 50px);
	height: auto;
	padding: 25px;
}

.cmclui-nav{
	width: calc(100% - 20px);
	display: flex;
	align-items: center;
	background: rgb(240,240,240);
	height: 75px;
	padding: 10px;
	position: fixed;
	z-index: 1000;
}

.cmclui-nav a {
	text-decoration: none;
	color: inherit;
}

.cmclui-nav a:visited{
	color: inherit;
}

.cmclui-nav-content{
	display: flex;
	width: 100%;
	
}

.cmclui-nav-content.active{
	width: 100% !important;
	height: auto;
}

.cmclui-nav-content p{
	padding-left: 10px;
	padding-right: 10px;
}

.fl-r{
	margin-left: auto;
	order: 2;
	display: flex;
}

.cmclui-nav .brand{
	padding-left: 10px;
	padding-right: 25px;
}

.cmclui-hamburger{
	display: none;
	background: none;
	border: none;
	height: 50px;
	line-height: 75px;
	aspect-ratio: 1/1;
	cursor: pointer;
}

.cmclui-nav-spacer{
	width: 100%;
	height: 100px;
}

@media screen and (max-width: 800px){
	.cmclui-nav-content{
		position: absolute;
		width: 100vw;
		left: 0;
		height: 100px;
		background: rgb(240,240,240);
		top: 75px;
		display: block;
		text-align: center;
		display: none;
		padding: 20px;
		padding-left: 0;
		padding-right: 0;
	}

	.cmclui-nav-content.active{
		display: block;
	}

	.cmclui-hamburger{
		display: block;
	}

	.cmclui-nav-content .fl-r *{
		width: 100%;
		text-align: center;
	}
}