@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

html,
body {
  font-family: 'Varela Round', sans-serif;
    margin:0;
    padding:0;
    scroll-behavior: smooth;
}

a,a:visited{
  color:white;
  text-decoration: none;
  cursor: pointer;
}